<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link
      rel="stylesheet"
      href="/style.css"
      type="text/css"
      media="all" 
      />
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title="RSS"
      />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
      />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
      />
  </head>

  <body>
    <header class="main-header">
      <a href="/" class="header-site-logo" >
        <img class="circle-mask" src="/static/self.svg" alt="{{ site.title }}" />
      </a>
        {{ site.title }}
      <h2 class="header-page-title">{{ page.title }}</h2>
    </header>

    {% include "_mainmenu.liquid" %}

    <main class="main-content">
      {{ page.content }}
    </main>

    {% include "_footer.liquid" %}
  </body>
</html>
